---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-6xl mx-auto px-6 py-12">
    <div class="space-y-16">
      <section>
        <h2
          class="text-lg font-extrabold text-black uppercase tracking-wide mb-2"
        >
          CREATIVITY THROUGH VISUAL DISCIPLINE
        </h2>
        <p class="text-black text-base font-bold leading-relaxed">
          We are a full-service production company with an expertise in
          commercial advertising, videography and film-making. Clarity,
          thoughtful consideration and attention to detail define the way our
          team delivers creative solutions.
        </p>
      </section>

      <section>
        <h2
          class="text-lg font-extrabold text-black uppercase tracking-wide mb-2"
        >
          WHY US
        </h2>
        <p class="text-black text-base font-bold leading-relaxed">
          From large-scale collaborations with the European Union, through
          campaigns for banks, cultural institutions, and local enterprises, to
          independent art projects, our experience covers a wide spectrum while
          maintaining consistent professionalism and disciplined execution.
        </p>
      </section>
      <section>
        <h2
          class="text-lg font-extrabold text-black uppercase tracking-wide mb-2"
        >
          CONTACT
        </h2>
        <div class="space-y-6 flex-row flex space-x-24">
          <div>
            <p class="text-black text-base font-bold leading-relaxed">
              Rati Dolidze
            </p>
            <p class="text-black text-base leading-relaxed">
              E: <a href="mailto:rati@silverfield.co" class="underline"
                >rati@silverfield.co</a
              >
            </p>
            <p class="text-black text-base leading-relaxed">
              T: <a href="tel:+436764399684" class="underline"
                >+43 676 4399684</a
              >
            </p>
          </div>
          <div>
            <p class="text-black text-base font-bold leading-relaxed">
              Nikoloz Abashidze
            </p>
            <p class="text-black text-base leading-relaxed">
              E: <a href="mailto:nikoloz@silverfield.co" class="underline"
                >nikoloz@silverfield.co</a
              >
            </p>
            <p class="text-black text-base leading-relaxed">
              T: <a href="tel:+436506293980" class="underline"
                >+43 650 6293980</a
              >
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
